*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Estilos generales empieza aquí*/
@font-face{
    font-family: "Montserrat_tittles";
    src: url(../assets/fonts_day/MontserratAlternates-ExtraBold.ttf);
}
@font-face{
    font-family: "Montserrat_p";
    src: url(../assets/fonts_day/Montserrat-Regular.ttf);
}
body{
    background-image: url(../assets/img_day/sky.jpg);
    color: aliceblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1, h2, h3{
    font-family: "Montserrat_tittles";
}
p{
    font-family: "Montserrat_tittles";
}
/*Estilos generales termina aquí*/
/*Todo lo siguiente es la barra nav*/
/*El logo empieza aquí*/
.navbar-brand img{
    width: 40%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    border-bottom: 4px solid black;
}
/*El logo termina aquí*/
.navbar{
    width: 90%;
    height: 20%;
    margin: 10px auto;
    background-color:rgba(0, 0, 0, 0.548);
    display: flex;
    justify-content: space-between ;
    border-bottom: 0.5px solid white;
}
.navbar-nav{
    height: 20%;
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
}
.icon-baby{
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px auto;
    font-size: 1.5rem;
    border: 3px white solid;
    border-radius: 60px;
}
.icon-baby:hover{
    width: 10rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px auto;
    border: 4px rgb(194, 251, 21) solid;
    border-radius: 60px;
}
.icon-baby img{
    height: 70px;
    display:flex;
    align-self: center;
    margin: 10px auto;
    padding: 20px auto;
}
.icon-baby img:hover{
    height: 80px;
    display:flex;
    align-self: center;
    margin: 10px auto;
    padding: 20px auto;
    transform: rotateZ(45deg);
    transition: 1.5s
}
.icon-baby p{
    display: flex;
    align-self: center;
    color: aliceblue;
    margin: 10px auto;
    padding: 20px auto;
    font-size: 1.1rem;
}
/*Aquí termina la nav*/
/*Aquí empieza el footer*/
.foot{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 0.5px white solid;
}
.red{
    margin: 1rem;
    padding: 0.5rem;
}
.red a img{
    width: 30px;
}
.container-fluid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navbar-brand navbar-toggler";
}
/*@media screen and (max-width: 768px) {
    .navbar {
            display: flex;
            flex-direction: row;
            background-color: aqua;
      }
}*/
/*Aquí termina el footer*/
/*Aquí empieza principal question*/
.kid img{
    width: 70%;
    padding: 10%;
    opacity: 0.8;
    padding: 1rem;
    margin: 1rem 3rem 1rem 1rem;
    border-radius: 50%;
}
.kid h2{
    color: aliceblue;
}
.kid img:hover{
    width: 85%;
    opacity: 1;
    padding: 1rem;
    margin: 1rem 3rem 1rem 1rem;
    border-radius: 50%;
    border:rgb(194, 251, 21) 4px solid;
    transform: rotateZ(360deg);
    transition: 1.5s  
}

/*Aquí termina principal question*/